@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  // background: url("../common-background.jpg") fixed center no-repeat;
  // background-size: cover;
  background-color: #006d77;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem 14rem 2rem 2rem !important;
  @include media-breakpoint-down(sm) {
    padding-right: 5rem !important;
  }
}

.containerAll {
  background-color: #83c5be;
  padding: 6rem;
  @include media-breakpoint-down(sm) {
    padding: 2rem;
  }
  border-radius: 15px;
  overflow-x: scroll;
}

.header {
  color: #ffddd2 !important;
  font-weight: bolder;
  border-bottom: 0.3rem solid #e7a288;
  @include media-breakpoint-down(sm) {
    font-size: 0.7rem;
  }
}

.icons {
  color: #ffddd2 !important;
  font-size: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
  margin-left: 1rem;
}

.names {
  font-size: 1.5rem;
  font-weight: bolder;
}

.using {
  font-style: italic;
  font-weight: bolder;
}
