@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.home {
  background: url("./background.jpg") fixed center no-repeat;
  background-size: cover;
}

.content {
  @include media-breakpoint-down(sm) {
    padding: 0 10rem 0 0;
  }
  padding: 3rem 20rem 0 5rem;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 90px;
  @include media-breakpoint-down(sm) {
    font-size: 50px;
  }
  font-weight: bolder;
  text-shadow: 0 0 3px black;
  color: #ef6e6b;
}

.about {
  border-top: 0.3rem solid #fb8500;
  font-size: 50px;
  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
  color: #fb8500;
  font-weight: bolder;
  text-shadow: 0 0 3px black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: right;
  padding-right: 1rem;
}
