@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    background-image: url("background.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
  }
}

.content {
  @include media-breakpoint-down(sm) {
    padding: 0 10rem 0 0;
  }
  padding: 3rem 20rem 0 5rem;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 90px;
  @include media-breakpoint-down(sm) {
    font-size: 50px;
  }
  font-weight: bolder;
  text-shadow: 0 0 3px #fb8500;
  color: #6d6875;
}

.about {
  border-top: 0.3rem solid #fb8500;
  font-size: 50px;
  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
  color: #fb8500;
  font-weight: bolder;
  text-shadow: 0 0 3px #023047;
}
