@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
  background-color: rgba(255, 205, 178, 0.7) !important;
  @include media-breakpoint-down(sm) {
    height: 28vh;
  }
  position: fixed;
  right: 0px;
  height: 75 vh;
}

.navitem {
  // padding: 2rem !important;
}

.navbartoggler {
  background-color: rgba(255, 205, 178, 0.7) !important;
  width: 7.5rem !important;
}

.navlink {
  color: #023047 !important;
  font-weight: bold;
  text-align: center;
  @include media-breakpoint-down(sm) {
    padding: 0.7rem !important;
  }
  padding: 3rem !important;
  text-transform: uppercase;
}

.navlink:hover {
  color: #ffe1a8 !important;
}

.activelink {
  background-color: rgba(251, 133, 0, 0.7) !important;
}
