@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
  background-color: rgba(255, 221, 210, 0.9) !important;
  @include media-breakpoint-down(sm) {
    height: 28vh;
    width: 4rem;
  }
  position: fixed;
  right: 0px;
  height: 73vh;
}

.navbartoggler {
  background-color: rgba(255, 221, 210, 0.8) !important;
  width: 7rem !important;
  @include media-breakpoint-down(sm) {
    width: 4rem !important;
  }
}

.navlink {
  color: #e29578 !important;
  text-align: center;
  @include media-breakpoint-down(sm) {
    padding: 0.7rem !important;
  }
  padding: 3rem !important;
  font-weight: bolder;
  @include media-breakpoint-down(sm) {
    font-size: 0.5rem !important;
  }
}

.navlink:hover {
  color: #ffe1a8 !important;
}

.activelink {
  background-color: rgba(131, 197, 190, 0.7) !important;
}
