@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
  background-color: #8ecae6;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
    height: 35vh;
  }
  position: fixed;
  right: 0px;
  height: 80vh;
}

.navitem {
  // padding: 2rem !important;
}

.navbartoggler {
  background-color: #8ecae6 !important;
  width: 7.5rem !important;
}

.navlink {
  color: #023047 !important;
  font-weight: bold;
  text-align: center;
  @include media-breakpoint-down(sm) {
    padding: 1rem !important;
  }
  padding: 3rem !important;
  text-transform: uppercase;
}

.navlink:hover {
  color: #ffe1a8 !important;
}

.activelink {
  background-color: #ffb703 !important;
}
