@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header {
  font-weight: bolder;
  border-bottom: 0.5rem solid #723d46;
  text-transform: uppercase;
  margin-right: 14rem;
}

.container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.contentContainer {
  margin-top: 2rem;
  font-size: larger;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 5rem;
  }
  padding-top: 3rem;
}

.iconContainer {
  margin-top: 10rem;
  border-top: 0.1rem solid #723d46;
  padding-top: 3rem !important;
  background-color: #472d30;
  width: 105vw;
  height: 10vh;
  z-index: 1;
}

.icons {
  color: #723d46;
  margin-right: 3rem;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}
