@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  background: url("../common-background.jpg") fixed center no-repeat;
  background-size: cover;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.header {
  font-weight: bolder;
  border-bottom: 0.3rem solid #ffb703;
  text-transform: uppercase;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
  }
  margin-bottom: 0;
  text-shadow: 0 0 3px #023047;
}

.contentContainer {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 12rem;
  margin-top: 2rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
    font-size: 1rem;
  }
  text-shadow: 0 0 3px #023047;
}

.iconContainer {
  border-top: 0.1rem solid #ffb703;
  background-color: rgba(127, 85, 57, 0.9);
  position: fixed;
  bottom: 0;
  width: 105%;
  padding: 2rem 0 2rem 0;
}

.icons {
  color: #ffb703;
  margin-right: 3rem;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.picture {
  height: 20rem;
  width: 30rem;
  @include media-breakpoint-down(md) {
    height: 10rem;
    width: 15rem;
  }
}
