@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  background: url("blue-background.jpg") fixed center no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 100%;
}

.header {
  font-weight: bolder;
  border-bottom: 0.3rem solid #ffb703;
  text-transform: uppercase;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
  }
  margin-bottom: 0;
  text-shadow: 0 0 3px #023047;
}

.contentContainer {
  font-size: larger;
  font-weight: bold;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
  }
  text-shadow: 0 0 3px #023047;
  background-color: rgba(229, 152, 155, 0.3) !important;
}

.iconContainer {
  border-top: 0.1rem solid #ffb703;
  background-color: rgba(2, 48, 71, 0.9);
  position: fixed;
  bottom: 0;
  width: 105%;
  padding: 2rem 0 2rem 0;
}

.icons {
  color: #ffb703;
  margin-right: 3rem;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.picture {
  height: 20rem;
  width: 30rem;
  @include media-breakpoint-down(sm) {
    height: 10rem;
    width: 15rem;
  }
}
