@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header {
  color: #ffddd2 !important;
  font-weight: bolder;
  border-bottom: 0.3rem solid #e7a288;
  @include media-breakpoint-down(sm) {
    font-size: 0.7rem;
  }
  padding-top: 1rem;
}

.contentContainer {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    font-size: 0.5rem;
  }
}

.iconContainer {
  border-top: 0.5rem solid #ffddd2;
  background-color: #e29578;
  float: left;
  bottom: 0;
  width: 105%;
  padding: 2rem 0 2rem 0;
  z-index: 1000 !important;
  position: fixed !important;
}

.icons {
  color: #ffddd2;
  margin-right: 3rem;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.picture {
  height: 20rem;
  width: 30rem;
  @include media-breakpoint-down(md) {
    height: 8rem;
    width: 12rem;
  }
}
