.header {
  font-weight: bolder;
  border-bottom: 0.5rem solid #723d46;
  text-transform: uppercase;
}

.container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.contentContainer {
  margin-top: 2rem;
  font-size: larger;
}

.iconContainer {
  margin-top: 10rem;
  border-top: 0.1rem solid #723d46;
  padding-top: 3rem !important;
  background-color: #472d30;
  width: 105vw;
  height: 30vh;
}

.icons {
  color: #723d46;
  margin-right: 3rem;
}
