@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  background: url("../common-background.jpg") fixed center no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 100%;
}

.header {
  font-weight: bolder;
  border-bottom: 0.3rem solid #ffb703;
  text-transform: uppercase;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
  }
  margin-bottom: 0;
  text-shadow: 0 0 3px #023047;
}

.contentContainer {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 12rem;
  @include media-breakpoint-down(sm) {
    margin-right: 8rem;
    font-size: 1rem;
  }
  text-shadow: 0 0 3px #023047;
}

.icons {
  color: #ffb703 !important;
  font-size: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
  margin-right: 0.5rem;
}
