@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header {
  color: #ffddd2 !important;
  font-weight: bolder;
  border-bottom: 0.3rem solid #e7a288;
  @include media-breakpoint-down(sm) {
    font-size: 0.5rem;
  }
}

.contentContainer {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    font-size: 0.5rem;
  }
}

.icons {
  color: #ffddd2 !important;
  @include media-breakpoint-down(sm) {
    font-size: 0.5rem;
  }
  margin-right: 0.5rem;
  font-size: 1.25rem;
}
